body {
    padding: 2em;
}
button.render {
    background: green;
    color: white;
    font-weight: bold;
}
button.reset {
    background: red;
    color: white;
    font-weight: bold;
    float: right;
}
.points {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    float: right;
}
.toolbar {
    padding-top: 5em;
}
.row0 {
    background: #E0E0E0;
}
.row1 {
    background: #C0C0C0;
}
.choices div.choice {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
div.total div {
    float: right;
}
div.totalpoints {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
div.totallabel {
    text-align: right;
    font-weight: bold;
}
